<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "WebSite",
      "name": {{ site.Title | jsonify }},
      "url": {{ site.BaseURL | jsonify }},
      "description": {{ site.Params.description | jsonify }},
      "inLanguage": "nl-NL"
    },
    {
      "@type": "Organization",
      "name": {{ site.Title | jsonify }},
      "url": {{ site.BaseURL | jsonify }},
      "email": {{ site.Params.email | jsonify }},
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Eijerdijk 87",
        "postalCode": "8051 XX",
        "addressLocality": {{ site.Params.city | jsonify }},
        "addressCountry": {{ site.Params.country | jsonify }}
      }
    }{{ if and .IsHome .Params.faq }},
    {
      "@type": "FAQPage",
      "mainEntity": [
        {{- range $index, $faq := .Params.faq }}{{ if $index }},{{ end }}
        {
          "@type": "Question",
          "name": {{ $faq.vraag | jsonify }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ $faq.antwoord | markdownify | plainify | jsonify }}
          }
        }
        {{- end }}
      ]
    }
    {{ end }}
  ]
}
</script>